.wrapper-crop{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/3.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 90px 100px;
}
.wrapper-fert{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/markus-spiske-71uUjIt3cIs-unsplash.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 80px 100px;
}
.wrapper-disease{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/noah-buscher-x8ZStukS2PM-unsplash.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 90px 100px;
}
.header{
    color: white;
}
.content{
    margin: auto;
    max-width: 700px;
    text-align: center;
}
.crop-form{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
.form-group{
    margin: 10px;
}
.btn{
    margin: 20px auto 0 auto;
    outline: none;
    display: block;
}
button:focus{
    outline: none !important;
    box-shadow: none !important;
    border: 0;
}
.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}
option[value=""][disabled]{
    display: none;
}
.alert{
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}
.invalid{
    border: red solid 1px;
}
.file-upload{
    margin: 50px auto 20px;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.file-submit{
    margin: 20px auto;
    display: block;
}
.prev-img{
    max-height: 360px;
    margin: 20px auto;
    display: block;
}
.result{
    margin: auto;
    max-width: 400px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    color: white;
}
.result h2{
    margin-bottom: 30px;
}
.remedy{
    margin: auto;
    max-width: 100%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
    color: white;
}
.vcentre{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.remedy span:nth-child(1){
    text-align: center;
}
.display{
    display: flex;
    align-items: center;
}
.display-crop{
    color: white;
    width: 100%;
    text-align: center;
}
.display-crop h1{
    text-transform: capitalize;
}
svg{
    margin: auto; 
    background: rgba(0, 0, 0, 0);
    display: block; 
    shape-rendering: auto;
}
.scroll-down{
    display: none;
}

@media(max-width: 993px) {
    .wrapper-crop{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/3.jpg');
        height: 100vh;
        background-position: center;
        background-size: cover;
        padding: 80px 10px 0;
    }
    .wrapper-fert{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/markus-spiske-71uUjIt3cIs-unsplash.jpg');
        height: 100vh;
        background-position: center;
        background-size: cover;
        padding: 80px 10px 0;
    }
    .wrapper-disease{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/noah-buscher-x8ZStukS2PM-unsplash.jpg');
        height: 100vh;
        background-position: center;
        background-size: cover;
        padding: 80px 10px 0;
    }
    .file-row{
        margin-top: 0;
    }
    .remedy{
        margin: 90px auto;
        max-width: 100%;
        text-align: justify;
        text-justify: inter-word;
        font-size: 18px;
        color: black;
    }
    .result{
        margin: 150px auto 30px;
        max-width: 400px;
        text-align: justify;
        text-justify: inter-word;
        font-size: 20px;
        color: black;
    }
    .display-crop{
        margin-top: 40px;
        color: white;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
    }
    .scroll-down{
        display: block;
        margin: 20px auto;
        padding: 20px;
    }
}
@media(max-width: 359px) {
    .display-crop{
        margin-top: 40px;
        color: black;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
    }
}